name: Container Build and Scan

on:
  push:
    branches:
      - '**'

env:
  AWS_CLI_VERSION: 2.11.0
  AWS_CDK_NPM_VERSION: 2.68.0
  AWS_CDK_PY_VERSION: 2.68.0

jobs:
  build-image:
    name: Build Docker Image
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.set_tag.outputs.tag }}
    env:
      CI_COMMIT_REF_NAME: ${{ github.ref_name }}
      CI_DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
      CI_PROJECT_DIR: ${{ github.workspace }}
      CI_REGISTRY_IMAGE: ghcr.io/${{ github.repository }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set TAG variable
        id: set_tag
        run: |
          if [ "${{ env.CI_COMMIT_REF_NAME }}" == "${{ env.CI_DEFAULT_BRANCH }}" ]; then
            TAG=latest
          else
            slug=$(echo "${{ env.CI_COMMIT_REF_NAME }}" | tr '[:upper:]' '[:lower:]' | tr '/' '-')
            TAG=$slug
          fi
          echo "TAG=$TAG" >> $GITHUB_ENV
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Build Image with Kaniko
        uses: aevea/action-kaniko@master
        with:
          registry: ghcr.io
          password: ${{ secrets.GITHUB_TOKEN }}
          image: ${{ github.repository }}
          tag: ${{ steps.set_tag.outputs.tag }}
          build_file: context/Dockerfile
          path: ./context
          cache: true
          cache_registry: ${{ github.repository }}-cache
          extra_args: |
            --build-arg AWS_CLI_VERSION=${{ env.AWS_CLI_VERSION }}
            --build-arg AWS_CDK_NPM_VERSION=${{ env.AWS_CDK_NPM_VERSION }}
            --build-arg AWS_CDK_PY_VERSION=${{ env.AWS_CDK_PY_VERSION }}

  container-scan:
    name: GitHub Container Scan
    runs-on: ubuntu-latest
    needs: build-image
    env:
      TAG: ${{ needs.build-image.outputs.tag }}
      CI_REGISTRY_IMAGE: ghcr.io/${{ github.repository }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Trivy Container Scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.CI_REGISTRY_IMAGE }}:${{ env.TAG }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os, library'

  dependency-scan:
    name: Dependency Scan
    runs-on: ubuntu-latest
    needs: build-image
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Dependency Review
        uses: actions/dependency-review-action@v3
